# Dictionaries

*Elements of Data Science*

Copyright 2021 [Allen B. Downey](https://allendowney.com)

License: [Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International](https://creativecommons.org/licenses/by-nc-sa/4.0/)

[Click here to run this notebook on Colab](https://colab.research.google.com/github/AllenDowney/ElementsOfDataScience/blob/master/05_dictionaries.ipynb) or
[click here to download it](https://github.com/AllenDowney/ElementsOfDataScience/raw/master/05_dictionaries.ipynb).

In the previous chapter we used a `for` loop to read a file and count the words.  In this chapter, you'll learn about a new type called a **dictionary**, and we'll use it to count the number of unique words and the number of times each one appears.

Along the way, you will also see how to use an index to select an element from a sequence (tuple, list, or array).  And you will learn a little about Unicode, which is used to represent letters, numbers, and punctuation for almost every language in the world.

## Indexing

Suppose you have a variable named `t` that refers to a list or tuple.
You can select an element using the bracket operator, `[]`.
For example, here's a tuple of strings:

In [1]:
t = 'zero', 'one', 'two'

To select the first element, we put `0` in brackets:

In [2]:
t[0]

'zero'

To select the second element, we put `1` in brackets:

In [5]:
t[1]

'one'


To select the third element, we put `2` in brackets:

In [6]:
t[2]

'two'

The number in brackets is called an **index** because it indicates which element we want.
Tuples and lists use zero-based numbering; that is, the index of the first element is 0.  Some other programming languages use one-based numbering.  There are pros and cons of both systems (see <https://en.wikipedia.org/wiki/Zero-based_numbering>).

The index in brackets can also be a variable:

In [7]:
i = 1
t[i]

'one'

Or an expression with variables, values, and operators:

In [8]:
t[i+1]

'two'

But if the index goes past the end of the list or tuple, you get an error.

Run this line of code in the next cell to see what happens.

```
t[3]
```

In [9]:
t[3]

IndexError: ignored

Also, the index has to be an integer; if it is any other type, you get an error.

Run these lines of code in the next cell to see what happens.

```
t[1.5]
t['1']
```

In [11]:
t['1']

TypeError: ignored

**Exercise:** You can use negative integers as indices.  Try using `-1` and `-2` as indices, and see if you can figure out what they do.

In [12]:
# Solution goes here
t[-1]

'two'

In [13]:
# Solution goes here
t[-2]

'one'

## Dictionaries

A dictionary is similar to a tuple or list, but in a dictionary, the index can be almost any type, not just an integer.
We can create an empty dictionary like this:

In [14]:
d = {}

Then we can add elements like this:

In [15]:
d['one'] = 1
d['two'] = 2

In this example, the indices are the strings, `'one'` and `'two'`
If you display the dictionary, it shows each index and the corresponding value.

In [16]:
d

{'one': 1, 'two': 2}

Instead of creating an empty dictionary and then adding elements, you can create a dictionary and specify the elements at the same time:

In [17]:
d = {'one': 1, 'two': 2, 'three': 3}
d

{'one': 1, 'three': 3, 'two': 2}

When we are talking about dictionaries, an index is usually called a **key**.  In this example, the keys are strings and the corresponding values are integers.

A dictionary is also called a **map**, because it represents correspondence or "mapping", between keys and values.  So we might say that this dictionary maps from English number names to the corresponding integers.

You can use the bracket operator to select an element from a dictionary, like this:

In [18]:
d['two']

2

But don't forget the quotation marks.
Without them, Python looks for a variable named `two` and doesn't find one.

Try running the following line to see what happens.

```
d[two]
```

To check whether a particular key is in a dictionary, you can use the special word `in`:

In [19]:
'one' in d

True

In [20]:
'zero' in d

False

The word `in` is actually an operator in Python, so you can't use it as a variable name.

Try this to see what happens:

```
in = 5
```

In [21]:
in = 5

SyntaxError: ignored

If a key is already in a dictionary, adding it again has no effect:

In [22]:
d

{'one': 1, 'three': 3, 'two': 2}

In [23]:
d['one'] = 1
d

{'one': 1, 'three': 3, 'two': 2}

But you can change the value associated with a key:

In [24]:
d['one'] = 100
d

{'one': 100, 'three': 3, 'two': 2}

You can loop through the keys in a dictionary like this:

In [26]:
for key in d:
    print(key)

one
two
three

If you want the keys and the values, one way to get them is to loop through the keys and look up the values:

In [27]:
for key in d:
    print(key, d[key])

one 100
two 2
three 3

Or you can loop through both at the same time, like this:

In [ ]:
for key, value in d.items():
    print(key, value)

The `items` method loops through the key-value pairs in the dictionary; each time through the loop, they are assigned to `key` and `value`.

**Exercise:** Make a dictionary with the numbers `1`, `2`, and `3` as keys and strings as values.  The strings should be the numbers "one", "two", and "three" in any language you know.

Write a loop that prints just the values from the dictionary.

In [28]:
# Solution goes here
d = {2: 'two', 3:'three', 1:'one'}
d

{1: 'one', 2: 'two', 3: 'three'}

In [29]:
# Solution goes here
for value in d.values():
    print(value)

two
three
one

In [ ]:
# Solution goes here

## Unique words

In the previous chapter we downloaded *War and Peace* from Project Gutenberg and counted the number of lines and words.
Now that we have dictionaries, we can also count the number of unique words and the number of times each one appears.

First, let's download the book again.  
When you run the following cell, it checks to see whether you already have a file named `2600-0.txt`, which is the name of the file that contains the text of *War and Peace*.
If not, it copies the file from Project Gutenberg to your computer.

In [39]:
from os.path import basename, exists

def download(url):
    filename = basename(url)
    print(filename, url)
    if not exists(filename):
        from urllib.request import urlretrieve
        print(url, filename)
        local, _ = urlretrieve(url, filename)
        print('Downloaded ' + local)
    
download('https://www.gutenberg.org/files/2600/2600-0.txt')

2600-0.txt https://www.gutenberg.org/files/2600/2600-0.txt

As we did in the previous chapter, we can read the text of *War and Peace* and count the number of words.

In [40]:
fp = open('2600-0.txt')
count = 0
for line in fp:
    count += len(line.split())
    
count

566317

To count the number of unique words, I'll loop through the words in each line and add them as keys in a dictionary:

In [42]:
fp = open('2600-0.txt')
unique_words = {}
for line in fp:
    for word in line.split():
        unique_words[word] = 1

This is the first example we've seen with one loop inside another.

* The outer loop runs through the lines in the file.

* The inner loops runs through the words in each line.

Each time through the inner loop, we add a word as a key in the dictionary, with the value 1.  If the same word appears more than once, it gets added to the dictionary again, which has no effect.  So the dictionary contains only one copy of each unique word in the file.

At the end of the loop, we can display the first 10 keys:

In [43]:
i = 0
for key in unique_words:
    print(key)
    i += 1
    if i == 10:
        break

﻿
The
Project
Gutenberg
EBook
of
War
and
Peace,
by

The dictionary contains all the words in the file, in order of first appearance.
But each word only appears once, so the number of keys is the number of unique words:

In [44]:
len(unique_words)

41991

It looks like there are about 42,000 different words in the book, which is substantially less than the total number of words, about 560,000. 
But that's not quite right, because we have not taken into account capitalization and punctuation.

**Exercise:** Before we deal with that problem, let's practice with **nested loops**, that is, one loop inside another.
Suppose you have a list of words, like this:

In [46]:
line = ['War', 'and', 'Peace']

Write a nested loop that iterates through each word in the list, and each letter in each word, and prints the letters on separate lines.

In [47]:
# Solution goes here
for word in line:
    for letter in word:
        print(letter)

W
a
r
a
n
d
P
e
a
c
e

## Capitalization

When we count unique words, we probably want to treat `The` and `the` as the same word.  We can do that by converting all words to lower case, using the `lower` function:

In [48]:
word = 'The'
word.lower()

'the'

`lower` creates a new string; it does not modify the original string.

In [49]:
word

'The'

However, you can assign the new string back to the existing variable, like this:

In [50]:
word = word.lower()

Now if we can display the new value of `word`, we get the lowercase version:

In [51]:
word

'the'

**Exercise:** Modify the previous loop so it makes a lowercase version of each word before adding it to the dictionary.  How many unique words are there, if we ignore the difference between uppercase and lowercase?

In [ ]:
# Solution goes here

In [53]:
fp = open('2600-0.txt')
unique_words = {}
for line in fp:
    for word in line.split():
        unique_words[word.lower()] = 1

len(unique_words)

40131

## Punctuation

To remove punctuation from the words, we can use `strip`, which removes specified characters from the beginning and end of a string.  Here's an example:

In [54]:
word = 'abracadabra'
word.strip('ab')

'racadabr'

In this example, `strip` removes all instances of `a` and `b` from the beginning and end of the word, but not from the middle.
But note that it makes a new word; it doesn't modify the original:

In [55]:
word

'abracadabra'

To remove punctuation, we can use the `string` library, which provides a variable named `punctuation`.

In [56]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

`string.punctuation` contains the most common punctuation marks, but as we'll see, not all of them.
Nevertheless, we can use it to handle most cases.  Here's an example:

In [57]:
line = "It's not given to people to judge what's right or wrong."

for word in line.split():
    word = word.strip(string.punctuation)
    print(word)

It's
not
given
to
people
to
judge
what's
right
or
wrong

`strip` removes the period at the end of `wrong`, but not the apostrophes in `It's`, `don't` and `what's`.
So that's good, but we have one more problem to solve.
Here's another line from the book.

In [58]:
line = 'anyone, and so you don’t deserve to have them.”'

Here's what happens when we try to remove the punctuation.

In [59]:
for word in line.split():
    word = word.strip(string.punctuation)
    print(word)

anyone
and
so
you
don’t
deserve
to
have
them.”

It removes the comma after `anyone`, but not the period and quotation mark after `them`.
The problem is that this kind of quotation mark is not in `string.punctuation`.  

To fix this problem, we'll use the following loop, which

1. Reads the file and builds a dictionary that contains all punctuation marks that appear in the book, then

2. It uses the `join` function to concatenate the keys of the dictionary in a single string.

You don't have to understand everything about how it works, but you should read it and see how much you can figure out.  You can read the documentation of the `unicodedata` library here at <https://docs.python.org/3/library/unicodedata.html>.

In [60]:
import unicodedata

fp = open('2600-0.txt')
punc_marks = {}
for line in fp:
    for x in line:
        category = unicodedata.category(x)
        if category[0] == 'P':
            punc_marks[x] = 1
        
all_punctuation = ''.join(punc_marks)
print(all_punctuation)

,.-:[#]*/“’—‘!?”;()%@

**Exercise:** Modify the word-counting loop from the previous section to convert words to lower case *and* strip punctuation before adding them to the dictionary.  Now how many unique words are there?

Optional: You might want to skip over the front matter and start with the text of Chapter 1, and skip over the license at the end, as we did in the previous chapter.

In [ ]:
# Solution goes here

In [62]:
fp = open('2600-0.txt')
unique_words = {}
for line in fp:
    for word in line.split():
        word = word.strip(all_punctuation).lower()
        unique_words[word] = 1


len(unique_words)

20693

## Word frequencies

In the previous section we counted the number of unique words, but we might also want to know how often each word appears.  Then we can find the most common and least common words in the book.
To count the frequency of each word, we'll make a dictionary that maps from each word to the number of times it appears.

Here's an example that loops through a string and counts the number of times each letter appears.

In [63]:
word = 'Mississippi'

letter_counts = {}
for x in word:
    if x in letter_counts:
        letter_counts[x] += 1
    else:
        letter_counts[x] = 1
        
letter_counts

{'M': 1, 'i': 4, 'p': 2, 's': 4}

The `if` statement here uses a feature we have not seen before, an `else` clause.
Here's how it works.

1. First, it checks whether the letter, `x`, is already a key in the dictionary, `letter_counts`.

2. If so, it runs the first statement, `letter_counts[x] += 1`, which increments the value associated with the letter.

3. Otherwise, it runs the second statement, `letter_counts[x] = 1`, which adds `x` as a new key, with the value `1` indicating that we have seen the new letter once.

The result is a dictionary that maps from each letter to the number of times it appears.

To get the most common letters, we can use a `Counter`, which is similar to a dictionary.  To use it, we have to import a library called `collections`:

In [64]:
import collections

Then we use `collections.Counter` to convert the dictionary to a `Counter`:

In [68]:
counter = collections.Counter(letter_counts)
type(counter), collections.Counter('Mississippi'), counter

(collections.Counter,
 Counter({'M': 1, 'i': 4, 'p': 2, 's': 4}),
 Counter({'M': 1, 'i': 4, 'p': 2, 's': 4}))

`Counter` provides a function called `most_common` we can use to get the most common characters:

In [69]:
counter.most_common(3)

[('i', 4), ('s', 4), ('p', 2)]

The result is a list of tuples, where each tuple contains a character and an integer.

**Exercise:** Modify the loop from the previous exercise to count the frequency of the words in *War and Peace*; then print the 20 most common words and the number of times each one appears.

In [ ]:
# Solution goes here

In [72]:
fp = open('2600-0.txt')
freq_words = {}
for line in fp:
    for word in line.split():
        word = word.strip(all_punctuation).lower()
        freq_words[word] = freq_words.get(word, 0) + 1
        


word_freq = collections.Counter(freq_words)
word_freq.most_common(20)

[('the', 34563),
 ('and', 22151),
 ('to', 16711),
 ('of', 14991),
 ('a', 10493),
 ('he', 9811),
 ('in', 8927),
 ('his', 7965),
 ('that', 7806),
 ('was', 7331),
 ('with', 5694),
 ('had', 5354),
 ('it', 5179),
 ('her', 4697),
 ('not', 4658),
 ('him', 4571),
 ('at', 4535),
 ('i', 4106),
 ('but', 4012),
 ('on', 3996)]

**Exercise:** You can run `most_common` with no value in parentheses, like this:

```
word_freq_pairs = counter.most_common()
```

The result is a list of tuples, with one tuple for every unique word in the book.  Assign the result to a variable so it doesn't get displayed.  Then answer the following questions:

1. How many times does the #1 ranked word appear (that is, the first element of the list)?

2. How many times does the #10 ranked word appear?

3. How many times does the #100 ranked word appear?

4. How many times does the #1000 ranked word appear?

5. How many times does the #10000 ranked word appear?

Do you see a pattern in the results?  We will explore this pattern more in the next chapter.

In [73]:
# Solution goes here
word_freq.most_common(1)

[('the', 34563)]

In [76]:
# Solution goes here
word_freq.most_common(10)

t = [c[1] for c in word_freq.most_common(10)]
sum(cnt for key, cnt in word_freq.most_common(10)), sum(t)

(140749, 140749)

In [77]:
# Solution goes here
sum(elem[1] for elem in word_freq.most_common(100))

301765

In [78]:
# Solution goes here
sum(elem[1] for elem in word_freq.most_common(1000))

453658

In [79]:
# Solution goes here
sum(elem[1] for elem in word_freq.most_common(10000))

553458

**Exercise:** Write a loop that counts how many words appear 200 times.  What are they?  How many words appear 100 times, 50 times, and 20 times?

**Optional:** If you know how to define a function, write a function that takes a `Counter` and a frequency as arguments, prints all words with that frequency, and returns the number of words with that frequency.

In [86]:
# Solution goes here
cnt_200 = 0
for word, cnt in word_freq.items():
    if cnt == 200:
        print(word, cnt)
        cnt_200 += 1

cnt_200

orders 200

1

In [ ]:
# Solution goes here

In [87]:
# Solution goes here
cnt_100 = 0
for word, cnt in word_freq.items():
    if cnt == 100:
        print(word, cnt)
        cnt_100 += 1

cnt_100

project 100
decided 100
child 100
country 100
however 100
run 100
aim 100
ought 100
captain 100
guns 100

10

In [ ]:
# Solution goes here

In [88]:
# Solution goes here
cnt_50 = 0
for word, cnt in word_freq.items():
    if cnt == 50:
        print(word, cnt)
        cnt_50 += 1

cnt_50

king 50
mentioned 50
gesture 50
relation 50
nose 50
wine 50
shouts 50
loud 50
common 50
interests 50
purpose 50
journey 50
darkness 50
division 50
burned 50
austerlitz 50

16

In [ ]:
# Solution goes here

In [89]:
# Solution goes here
cnt_20 = 0
for word, cnt in word_freq.items():
    if cnt == 20:
        print(word, cnt)
        cnt_20 += 1

cnt_20

alexander’s 20
education 20
revealed 20
samovar 20
altered 20
merrily 20
george 20
powerful 20
affectionate 20
sons 20
drop 20
reward 20
fled 20
signs 20
shawl 20
gently 20
woman’s 20
husband’s 20
gossip 20
qualities 20
glasses 20
respected 20
seize 20
he’ll 20
forgot 20
conversations 20
ivánovna 20
failed 20
pávlograd 20
vanished 20
examined 20
pair 20
upset 20
coldly 20
inquiry 20
support 20
exchanged 20
nowhere 20
band 20
thrust 20
resolution 20
request 20
pose 20
maneuvers 20
pieces 20
risen 20
pillow 20
problem 20
pure 20
eternal 20
sleeping 20
attacking 20
european 20
tranquil 20
coach 20
smart 20
win 20
aid 20
encounter 20
dragging 20
ear 20
scoundrel 20
confirmed 20
heights 20
roar 20
yards 20
inevitably 20
losses 20
transport 20
theater 20
enemies 20
mild 20
bodies 20
arrangements 20
proclamation 20
cries 20
militiamen 20
nephew 20
drops 20
niemen 20
numbers 20
balagá 20
hive 20
michaud 20
vyázma 20
flèches 20

86

In [ ]:
# Solution goes here